{
    "semi": false,
    "printWidth": 110,
    "tabWidth": 2,
    "useTabs": false,
    "arrowParens": "avoid",
    "jsxBracketSameLine": false,
    "trailingComma": "none",
    "singleQuote": true
}